#wrapper{
    width: 90%;;
    margin: 10% 6% 6% 25%;
    
}

#weight{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    font-weight: bold;
    font-size: 20px;
}

#age{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5.9%;
    font-weight: bold;
    font-size: 20px;
}

#name{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4.7%;
    font-weight: bold;
    font-size: 20px;
}

#btn{
    padding: .6% 1.5% .6% 1.5%;
    margin-top: 1.5%;
    background-color: white;
    font-size: 20px;
}

span{
    font-size: 20px;
}

